Binaries
DerivedDataCache
Intermediate
Saved
Packaged
Developer
Build
backup
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/PAGSample.sln.DotSettings.user
/UE5_gRPC.sln.DotSettings.user
